<!DOCTYPE html>
<html class="h-full">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Estado de los sitios</title>
  <link rel="stylesheet" href="/css/style.css">
  <!-- Importamos Tailwind CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind.min.css">
</head>

<body class="bg-gray-50 h-full font-sans">
  <div class="flex flex-col h-full">
    <!-- Encabezado de la p치gina -->
    <header class="bg-gray-900 text-white flex justify-between items-center p-4">
      <h1 class="text-2xl">Estado de sitios</h1>
      <a href="/" class="text-gray-200 hover:text-gray-400">Inicio</a>
    </header>

    <!-- Contenido de la p치gina -->
    <main class="flex-grow p-4">
      <table class="table-auto bg-white shadow-md rounded-lg overflow-hidden">
        <thead class="bg-gray-100">
          <tr class="text-gray-700">
            <th class="px-4 py-2 text-left">Sitio</th>
            <th class="px-4 py-2 text-left">Tiempo de Respuesta</th>
            <th class="px-4 py-2 text-left">C칩digo de Estado</th>
            <th class="px-4 py-2 text-left">Servidor</th>
            <th class="px-4 py-2 text-left">Estado</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <% for (let i = 0; i < estadoSitios.length; i++) { %>
          <tr class="<%= estadoSitios[i].estado == 'Disponible' ? 'bg-green-50' : 'bg-red-50' %>">
            <td class="px-4 py-2"><a href="<%= estadoSitios[i].url %>" class="text-blue-500 hover:text-blue-700"><%= estadoSitios[i].nombre %></a></td>
            <td class="px-4 py-2"><%= estadoSitios[i].tiempoRespuesta %></td>
            <td class="px-4 py-2"><%= estadoSitios[i].statusText %></td>
            <td class="px-4 py-2"><%= estadoSitios[i].server %></td>
            <td class="px-4 py-2"><%= estadoSitios[i].estado %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </main>

    <!-- Pie de p치gina -->
    <footer class="bg-gray-900 text-white p-4 text-center">&copy; 2023 Todos los derechos reservados</footer>
  </div>
</body>

</html>