<!DOCTYPE html>
<html>
  <head>
    <title>Estado de los sitios</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Estado de sitios</h1>
    <table>
      <thead>
        <tr>
          <th>Sitio</th>
          <th>Tiempo de Respuesta</th>
          <th>Código de Estado</th>
          <th>Servidor</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < estadoSitios.length; i++) { %>
        <tr>
          <td><a href="<%= estadoSitios[i].url %>"><%= estadoSitios[i].nombre %></a></td>
          <td><%= estadoSitios[i].tiempoRespuesta %></td>
          <td><%= estadoSitios[i].statusText %></td>
          <td><%= estadoSitios[i].server %></td>
          <td><%= estadoSitios[i].estado %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
